<%= form_for(@races_registration) do |f| %>
  <% if @races_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@races_registration.errors.count, "error") %> prohibited this races_registration from being saved:</h2>

      <ul>
      <% @races_registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
  <% end %>
</ul>
</div>
<% end %>


<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
